<div class="user-field">
<% if @user.name %>
	Name: <%= @user.name%></br>
<% end %>
Email: <%= @user.email %></br>
<div class="btn">
<% if @user == current_user %>
	<%= link_to "Edit Profile", edit_user_path(current_user) %><br>
<% end %>
</div><br>
Upcoming Events: 
<% if UserFestival.going.where(user_id: @user.id).count == 0 %>
	nothing here yet
<% else %>
	<% UserFestival.going.where(user_id: @user.id).to_a.each do |userfestival| %>
		<% festival = Festival.find(userfestival.festival_id) %>
		<%= link_to festival.name, festival_path(festival) %>
	<% end %>
<% end %>
<br>

Saved Events:
<% if UserFestival.interested.where(user_id: @user.id).count == 0 %>
	nothing here yet
<% else %>
	<% UserFestival.interested.where(user_id: @user.id).to_a.each do |userfestival| %>
		<% festival = Festival.find(userfestival.festival_id) %>
		<%= link_to festival.name, festival_path(festival) %>
	<% end %>
<% end %><br>
<% if @user == current_user %>
	<% if Festival.where(creator_id: current_user.id).count != 0 %>
	<div class="btn">
	<% if @user == current_user %>
		<%= link_to "My Festivals", user_festivals_path(current_user) %>
	<% end %>
	</div>
<% end %>
<% end %>
</div>
