<div id="home">
<% if !current_user %>
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>
<h1>FESTIVALOCATOR</h1>
	<div class="button"><%= link_to "sign in", new_user_session_path %></div>
	<div class="button"><%= link_to "sign up", new_user_registration_path %></div><br>
	<div class="button-long"><%= link_to "login with Facebook!", user_facebook_omniauth_authorize_path %></div></br>
	<div class="button-long"><%= link_to "login with Google!", user_google_oauth2_omniauth_authorize_path %></div></br>
<% end %>
<% if current_user %>
<div id="explore-button-frame">
	<div id="explore-button">
		<div id="explore">
			<%= link_to "EXPLORE", festivals_path %> <br>
		</div>
	</div>
</div>
<% end %>
</div>
