<% if @festival.errors.any? %>
  <div id="error-explanation">
    <h2><%= pluralize(@festival.errors.count, "error") %> prohibited this Festival from being saved:</h2>
    <ul id="validation-messages">
    <% @festival.errors.full_messages.each do |msg| %>
      <li><%= msg %></li><br>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="festival-form">
<%= form_for @festival do |f| %>
<%= f.label :name %></br>
<%= f.text_field :name %></br>
<%= f.label :category %></br>
<%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: true)%></br>
<%= f.collection_select(:world_part_id, WorldPart.all, :id, :name, include_blank: true)%></br>
<%= f.label :location %></br>
<%= f.text_field :location %></br>
<%= f.label :venue %></br>
<%= f.text_field :venue %></br>
<%= f.label :line_up %></br>
<%= f.text_field :line_up %></br>
<%= f.label :website %></br>
<%= f.text_field :website %></br>
<%= f.label :start %>
<%= f.date_select :start %><br>
<%= f.label :end%>
<%= f.date_select :end %>
<%= f.hidden_field :creator_id, value: current_user.id %><br>
For music festivals, please add more detail about headliners:<br>
<%= f.fields_for :artists do |artist| %>
	<%= artist.label :name %>
	<%= artist.text_field :name %><br>
	<%= artist.label :description %>
	<%= artist.text_field :description %><br>
<% end %>

<%= f.submit %>
<% end %>
</div>

