<div class="festival-form">
<%= form_for @festival do |f| %>
<%= f.label :name %></br>
<%= f.text_field :name %></br>
<%= f.label :category %></br>
<%= f.collection_select(:category_id, Category.all, :id, :name) %></br>
<%= f.collection_select(:world_part_id, WorldPart.all, :id, :name) %></br>
<%= f.label :location %></br>
<%= f.text_field :location %></br>
<%= f.label :venue %></br>
<%= f.text_field :venue %></br>
<%= f.label :line_up %></br>
<%= f.text_field :line_up %></br>
<%= f.label :website %></br>
<%= f.text_field :website %></br>
<%= f.label :start %>
<%= f.date_select :start %><br>
<%= f.label :end%>
<%= f.date_select :end %>
<%= f.hidden_field :creator_id, value: current_user.id %>
<%= f.submit %>
<% end %>
</div>