<div id="wrapper">
	<div id="add-new">
		Did we miss a cool festival? Help us by adding the event yourself!
		<%= link_to "Add New", new_festival_path%><br>
	</div>
	<div id="filter">
		<%= form_tag "/index" do %>
		<%= label_tag("Location:") %>
		<%= select_tag 'world_part', options_from_collection_for_select(WorldPart.all, :id, :name, @world_part), include_blank: true %>
		<%= label_tag("Category:") %>
		<%= select_tag 'category', options_from_collection_for_select(Category.all, :id, :name, @category), include_blank: true %>
		<%= submit_tag "Filter"%>
	<% end %>
	</div>


	<% if current_user.role == "admin" %>
		<% @festivals.each do |festival| %>
			<div id="festival-item">
					<h1> <%= link_to festival.name, festival_path(festival) %></h1> <br>
					<%= festival.category.name %> Festival <br>
					<%= festival.location %> <br>
					<%= festival.start%> - <%=festival.end%>
			</div>
		<% end %>	
	<% else%>
		<% @festivals.each do |festival| %>
			<div id="festival-item">
				<% if festival.approved == true %>
					<h1> <%= link_to festival.name, festival_path(festival) %></h1> <br>
					<%= festival.category.name %> Festival <br>
					<%= festival.location %> <br>
					<%= festival.start%> - <%=festival.end%>
				<% end %>
			</div>
		<% end %>	
	<% end %>

</div>


