<div id="wrapper">
<div id="add-new">
	Did we miss a cool festival? Help us by adding the event yourself!
	<%= link_to "Add New", new_festival_path%><br>
</div>

<% @festivals.each do |festival| %>
	<div id="festival-item">
		<% if festival %>
			<h1> <%= link_to festival.name, festival_path(festival) %></h1> <br>
			<%= festival.category.name %> Festival <br>
			<%= festival.location %> <br>
			<%= festival.start%> - <%=festival.end%>
		<% end %>
	</div>
<% end %>
</div>


