<div class="festival-show">
<h2><%= @festival.name %> <br></h2>
Category: <%= @festival.category.name %> <br>
Location: <%= @festival.world_part.name %>, <%= @festival.location %> <br>
Venue: <%= @festival.venue %> <br>
Line Up: <%= @festival.line_up %> <br>
Website: <a href="#{@festival.website}"><%=  %> </a><br>
Start Date: <%= @festival.start %> <br>
End Date: <%= @festival.end %> <br>
<div class="btn">
<% if @festival.end > Time.now.to_date %>
	<%= link_to festival_path(@festival) do %>
		I'm going
		<% userfestival = UserFestival.find_or_create_by(user_id: current_user.id, festival_id: @festival.id) %>
		<% userfestival.status = "going" %>
		<% userfestival.save %>
	<% end %>
	</div>
<div class="btn">
	<%= link_to festival_path(@festival) do %>
		I'm interested
		<% userfestival = UserFestival.find_or_create_by(user_id: current_user.id, festival_id: @festival.id) %>
		<% userfestival.status = "interested" %>
		<% userfestival.save %>
	<% end %>
<% else %>
	<%= link_to "I went", root_path %> <br>
<% end %>
</div>
<br>

Going: 
<% UserFestival.where(festival_id: 4, status: "going").to_a.each do |userfestival| %>
	<% user = User.find(userfestival.user_id) %>
	<%= link_to user.name, user_path(user) %>
<% end %>

Interested: 
<% UserFestival.where(festival_id: 4, status: "interested").to_a.each do |userfestival| %>
	<% user = User.find(userfestival.user_id) %>
	<%= link_to user.name, user_path(user) %>
<% end %>

<br>
<br>
<% if policy(@festival).update? %>
      <%= link_to "Edit post", edit_post_path(@post) %>
<% end %>
<%= link_to "Home Page", root_path %> <br>

</div>
